@media only screen and (max-width: 767px) {
    .custom-mobile-bg {
      background-color: #FFC998 !important;
    }
  }
  .rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  
  }