/* Custom Header */
.customHeader {
  background-color: #FF9900A8 !important;
}

/* Personal Information Form */
.formContainer {
  background-color: #FFD6B0 !important;
}

/* Sidebar */
.sidebar {
  background-color: white !important;
}
.smallInput {
  width: 35% !important; /* Adjust width as needed */
}

/* Button Styling */
.customButton {
  background-color: #FFAD62 !important;
  border-color: #FFAD62 !important;
  color: black !important;
}

.customButton:hover {
  background-color: #FFAD62 !important;
  border-color: #FFAD62 !important;
}

/* Custom Footer */
.customFooter {
  background-color: #FF9900A8 !important;
}
@media (max-width: 780px) {
  .accountContainer {
    flex-direction: column; /* Stack sidebar above content */
  }

  .content {
    width: 100%; /* Full width */
  }

  .sidebar {
    margin-left: 0 !important; /* Reduce left margin */
    margin-right: 0 !important; /* Reduce right margin */
    width: 100%; /* Full width for sidebar */
    align-items: center; /* Center buttons */
  }

  .customButton {
    font-size: 14px !important; /* Smaller button text */
    padding: 8px !important; /* Reduce button height */
    width: 80% !important; /* Reduce button width */
    max-width: 250px !important; /* Set a max width */
  }
  .smallInput {
    width: 50% !important; /* Increase input width */
  }
}

@media (max-width: 425px) {
  .smallInput {
    width: 80% !important; /* Increase input width */
  }
}
